*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font: 400 1rem/1 'PT Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

input, textarea {
    border: none;
    outline: none;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* / Reset end */

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-beetween {
    justify-content: space-between !important;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}

.form-control {
    border: 1px solid #BFC7DC;
    border-radius: 4px;
    padding: 0 20px;
    height: 40px;
    color: #29375A;
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 0;
}

.gradient-btn {
    min-width: 165px;
    color: #fff;
    background: linear-gradient(
        90deg, 
        #0CEBEB 0%, 
        #20E3B2 50%, 
        #29FFC6 100%
    );
    box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
    border-radius: 30px;
}

.text-center {
    text-align: center;
}

.text-green {
    color: #27DEBF !important;
}

.text-bold {
    font-weight: 700;
}

.gradient-bg {
    background: linear-gradient(
    to right, 
    #F6F7FC 0px, 58%, 
    #00C6FF 58%, 
    #0072ff 100%
    );
}

.header {
    padding: 40px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main-header-nav {
    color: #29375a;
    font-weight: 700;
    margin-left: 66px;
}

.main-header-nav a + a,
.info-header-nav a + a {
    margin-left: 30px;
}

.info-header-nav {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.8);
}

.main {
    padding-top: 106px;
}

.process-screen-content {
    width: 819px;
    height: 475px;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 50px;
}

.score-screen-content {
    width: 819px;
    background-color: #fff;
    border-radius: 6px;
    padding: 60px;
    color: #29375A;
}

.score-count {
    margin-bottom: 10px;
    position: relative;
}

.score-count sub{
    font-size: 5.14rem;
    font-weight: 700;
    color: #01BFFF;
}

.score-count sup {
    line-height: 1.71;
    color: #BBC4DA;
    position: absolute;
    top: 8px;
}

.score-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.57rem;
}

.score-desc, 
.score-checkbox-item {
    line-height: 1.71;
}

.score-checkbox-group-list input{
    display: none;
}

.score-checkbox-group-list {
    user-select: none;
}

.score-checkbox-item label {
    padding: 5px 20px;
    border: 1px solid #BBC4DA;
    cursor: pointer;
    display: block;
}

.score-checkbox-item:first-child label {
    border-radius: 4px 0 0 4px;
}

.score-checkbox-item:last-child label {
    border-radius: 0 4px 4px 0;
}

.score-checkbox-item:nth-child(2) label {
    border-left: none;
    border-right: none;
}

.score-checkbox-item > input:checked + label{
    background-color: #01BFFF;
    border-color: #01BFFF;
    color: #fff;
}

.process-logo {
    margin-bottom: 30px;
}

.process-title {
    font-size: 2.57rem;
    color: #29375A;
    font-weight: 400;
    margin-bottom: 35px;
}

.proccess-desc {
    max-width: 340px;
    color: #29375A;
    line-height: 1.71;
}

.proccess-desc + span {
    line-height: 1.71;
}

.action-form .form-control{
    width: 380px;
    margin-bottom: 30px;
}

.process-screen-footer {
    color: rgba(41, 55, 90, 0.7);
}

.next-screen-link::after {
    content: '';
    width: 20px;
    height: 9px;
    background: url('../img/arrow.svg') no-repeat;
    background-size: contain;
    margin-left: 10px;
}

.before-screen-link::before {
    content: '';
    width: 20px;
    height: 9px;
    background: url('../img/arrow.svg') no-repeat;
    background-size: contain;
    transform: scaleX(-1);
    margin-right: 10px;
}

.process-steps,
.aside-right-menu {
    padding-left: 50px;
    width: 290px;
}

.process-steps-title {
    font-size: 1.7rem;
    line-height: 1.25;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.process-steps-list {
    margin-bottom: 30px;
}

.steps-list-item {
    position: relative;
}

.steps-list-item + .steps-list-item {
    margin-top: 25px;
}

.list-item-num {
    position: absolute;
    width: 40px;
    line-height: 40px;
    background-color: #F6F7FC;
    border-radius: 50%;
    color: #BBC4DA;
    font-weight: 700;
    font-size: 1.43rem;
    text-align: center;
    left: -70px;
    top: 0;
}

.list-item-num.active {
    background-color: #27DEBF;
    color: #fff;
}

.list-item-num.success {
    color: transparent;
    background: url(../img/success.svg) no-repeat center #F6F7FC;
}

.list-item-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-item-desc {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.71;
}

.optional-text {
    color: #fff;
    line-height: 1.43;
    font-weight: 700;
    max-width: 150px;
}

.footer {
    padding: 20px 0;
}

.footer-text {
    font-size: 0.86rem;
    color: rgba(41, 55, 90, 0.7);
    margin-left: 20px;
}

.footer-text span + span {
    margin-top: 5px;
}

.footer-text span:last-child {
    color: #29375A;
}